<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- Live Activities / Dynamic Island -->
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>NSSupportsLiveActivitiesFrequentUpdates</key>
	<true/>

	<!-- Deep link URL scheme (miracle://) -->
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.daffa.Miracle</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>miracle</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>instagram</string>
		<string>tiktok</string>
		<string>youtube</string>
		<string>twitter</string>
		<string>fb</string>
		<string>reddit</string>
		<string>snapchat</string>
		<string>whatsapp</string>
		<string>nflx</string>
		<string>spotify</string>
		<string>shopeeid</string>
		<string>tokopedia</string>
		<string>shortcuts</string>
	</array>
</dict>
</plist>

